.comment
  width: 100%
  position: relative
  padding-left: 152px
  box-sizing: border-box
.comment__author
  position: absolute
  left: 0
  &::after
    content: " "
    display: block
    margin-left: 26px
    margin-top: 32px
    border-top: 10px none
    border-bottom: 10px none
    border-left: 11px solid $teal-50
.comment__author-image
  border-radius: 50%
  margin-bottom: 8px
  width: 104px
  height: 104px
.comment__author-name
  width: 104px
  text-align: center
.comment__body
  background-color: $teal-50
  padding: 18px 24px
  p
    font-size: 16px
    line-height: 1.6
    margin-bottom: .9em
